RewriteEngine On

#Redirect www to non-www start
RewriteCond %{HTTP_HOST} ^www.webmarlins.com [NC]
RewriteRule ^(.*)$ https://webmarlins.com/$1 [L,R=301]
#Redirect www to non-www end

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]